/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #3C58A6;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  
  /*===== Font and typography =====*/
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}

a{
  text-decoration: none;
}

/*===== HEADER =====*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: .5s;
  position: fixed;
}

.header__toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img{
  width: 40px;
}

/*===== NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100%;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  color: var(--white-color);
  font-weight: 700;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--white-color);
}

.nav__icon{
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active{
  color: var(--white-color);
  background-color: #1A274A;
  border-radius: 5px;
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* Main */

body{
  background-color: #8b8b8b4b;
}

.row{
  display: flex;
  justify-content:space-between;
}

button {
  padding: 0.6rem 1.2rem;
  background-color: #888;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  opacity: 0.9;
  font-size: 1rem;
  margin-right: 30px;
  margin-bottom: 15px;
}

#open-modal {
  background-color: #4D72D6;
}

button:hover {
  opacity: 1;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

#fade,
#modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #3C58A6;
}

.modal-footer{
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-footer .confirm{
  background-color: #3C58A6;
}

.modal-body p {
  margin-bottom: 1rem;
}

.modal-body input{
  border: none;
  border-radius: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  box-shadow: 0 .4rem .8rem #0005;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

.container{
  margin-top: 80px;
}

.content{
  min-height: 70vh;
}

.main-content{
  border-radius: 10px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 78vh;
}

.boxHeader{
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  display: flex;
  color: #4D72D6;
}

.boxTitle{
  color: #4D72D6;
}

.boxContent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxContent h2{
  color: #868585;
  font-size: 20px;
}

main.table {
    width: 82vw;
    height: 66vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}
.table__body {
width: 95%;
max-height: calc(89% - 1.6rem);
background-color: #fffb;

margin: .8rem auto;
border-radius: .6rem;

overflow: auto;
overflow: overlay;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: .8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header .input-group {
  width: 35%;
  height: 100%;
  background-color: #fff5;
  padding: 0 .8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s;
}

.table__header .input-group:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

.table__header .input-group input {
  width: 100%;
  padding: 0 .5rem 0 .3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.table__body::-webkit-scrollbar{
width: 0.5rem;
height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
border-radius: .5rem;
background-color: #0004;
visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
visibility: visible;
}

table {
width: 100%;
}

td img {
width: 36px;
height: 36px;
margin-right: .5rem;
border-radius: 50%;

vertical-align: middle;
}

table, th, td {
border-collapse: collapse;
padding: 1rem;
text-align: center;
}

thead th {
position: sticky;
top: 0;
left: 0;
background-color: #d5d1defe;
cursor: pointer;
text-transform: capitalize;
text-align: center;
}

.nomeImg {
  text-align: left;
  }

.edit{
  background-color: blue;
  padding: 10px;
}

.delete{
  background-color: red;
  padding: 10px;
}

tbody tr:nth-child(even) {
background-color: #0000000b;
}

tbody tr {
--delay: .1s;
transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
opacity: 0;
transform: translateX(100%);
}

tbody tr:hover {
background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
padding: 0;
font: 0 / 0 sans-serif;
transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
width: 0;
height: 0;
transition: .2s ease-in-out .5s;
}


@media (max-width: 1000px) {
td:not(:first-of-type) {
    min-width: 12.1rem;
}
}

thead th span.icon-arrow {
display: inline-block;
width: 1.3rem;
height: 1.3rem;
border-radius: 50%;
border: 1.4px solid transparent;

text-align: center;
font-size: 1rem;

margin-left: .5rem;
transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
border: 1.4px solid #6c00bd;
}

thead th:hover {
color: #6c00bd;
}

thead th.active span.icon-arrow{
background-color: #6c00bd;
color: #fff;
}

thead th.asc span.icon-arrow{
transform: rotate(180deg);
}

thead th.active,tbody td.active {
color: #6c00bd;
}

/* ===== MEDIA QUERIES=====*/

@media (max-width: 1000px){
  td:not(:first-of-type){
    min-width: rem;
  }
}

@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }
}

@media screen and (max-width: 750px){
  .content{
    flex-direction: column;
  }

  .main-content{
    width: 100%;
  }
}

